<a href="https://colab.research.google.com/github/nanidgreat/pythonlearnings/blob/main/basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.If-Else conditions
  Being used where some based on some condition a portion of code is executed with right or wrong choice.

In [ ]:
#write a program to accept the website address and its password and based on it provide the webpage either profile or error page
web_addr = input("Enter web address")
pwd = input("Enter password")
if web_addr == "guru.com" and pwd == "charan":
  print("Welcome to your profile")
else:
  print("Page error as you have entered wrong crentials")

Enter web addressguru
Enter passwordcharan
Page error as you have entered wrong crentials

In [ ]:
web_addr = input("Enter web address")
pwd = input("Enter password")

if web_addr == "guru.com" and pwd == "charan":
  print("welcome to your profile")
elif web_addr == "guru.com" and pwd != "charan":
    pwd = input("re enter the pwd again")
    if pwd == "charan":
      print("welcome to your profile")
    else:
      print("Page error as you have entered wrong crentials")
else:
  print("Page error as you have entered wrong crentials")

Enter web addressguru.com
Enter passwordash
re enter the pwd againcharan
welcome to your profile

# 2. Loops
  Used where some code need to repeatedly used
  1. while
  2. for

In [ ]:
#while
num = int(input("Enter the number"))
i=1
while i < 11:
  print(f"{num} *{i} = {num * i}")
  i+=1

Enter the number12
12 *1 = 12
12 *2 = 24
12 *3 = 36
12 *4 = 48
12 *5 = 60
12 *6 = 72
12 *7 = 84
12 *8 = 96
12 *9 = 108
12 *10 = 120

#for loops
  This will iterate either on range or sequence

In [ ]:
range(1,10)
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in "hyderabad":
  print(i)
for i in ["hyd","kol","del"]:
          print(i)

h
y
d
e
r
a
b
a
d
hyd
kol
del

In [ ]:
#nested loops
rows= int(input("enter no of rows"))
for i in range(1,rows+1):
  for j in range(0,i):
    print("*",end="")
  print("\n",end="")

enter no of rows5
*
**
***
****
*****

In [ ]:
import math
math.factorial(4)

24

# Strings
 features like slicing and substring is important

In [ ]:
print('It\'s raining outside')
s = "hello world"
p='how ru'
u='''how do u do'''
print(s,p,u,sep='-')
#indexing
print(s[3],s[-4])
#slicing
print(s[0:5],s[:5],s[0:],s[:],s[0:5:2],s[::-1],sep="-")

It's raining outside
hello world-how ru-how do u do
l o
hello-hello-hello world-hello world-hlo-dlrow olleh

## How to Edit or delete a character or multiple characters from a string?
  Strings are immutable datatype i.e can't change the value
  But they can be reassigned.

In [ ]:
c="hello"
c[4]="x" #will through an error becz strings are immutable i.e cant change once its been assigned to a variable
print(c)
del c[0] #can't delete a single character or multiple characters from a string
print(c)

hello

TypeError: 'str' object doesn't support item deletion

##Operators used on Strings


*   Arthematic
*   Relational
*   Logical
*   Loops
*   Membership operations

In [33]:
#Arthematic
c="hello"
b="how are you"
print(c+b)
print(c*3)
print(c-b)

hellohow are you
hellohellohello

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [36]:
#Relational
print(c>b,c<b,c==b,c!=b,sep="-")

False-True-False-True

In [39]:
#Logical
print(c and b,c or b,not "",sep="-")

how are you-hello-True

In [42]:
#loops
for i in c:
  print(i)
for i in c[::-1]:
  print(i)

h
e
l
l
o
o
l
l
e
h

In [45]:
#membership operator
print("lo" in c)

True

## Common Functions
*   len
*   min
*   max
*   sorted

In [1]:
c="kolkata"
print(len(c),min(c),max(c))
print(sorted(c),sorted(c,reverse=True))

7 a t
['a', 'a', 'k', 'k', 'l', 'o', 't'] ['t', 'o', 'l', 'k', 'k', 'a', 'a']

## Capitalize/Title/Upper/Lower/Swapcase

In [11]:
print(c.capitalize())
c="HoW are you"
print(c.title())
print(c.upper())
print(c.lower())
print(c.swapcase())
print(c.casefold(),c,sep="-")

How are you
How Are You
HOW ARE YOU
how are you
hOw ARE YOU
how are you-HoW are you

In [21]:
#count
print(c.count("you"))
print(c.count("o"))
print(c.find("you"))

1
2
8

In [25]:
#format
c="how are you {} where are you lving in {}".format("guru","India")
print(c)
c="how are you {1} where are you lving in {0}".format("guru","India")
print(c)
c="I am {name},i am {age} and weighing {weight}".format(name="guru",age="40",weight=90)
print(c)
c="I am {name} and weighing {weight}".format(name="guru",age="40",weight=90)
print(c)

how are you guru where are you lving in India
how are you India where are you lving in guru
I am guru,i am 40 and weighing 90
I am guru and weighing 90

In [32]:
#split
print("who is the PM of India".split())
print("who is the PM of India".split("is"))

['who', 'is', 'the', 'PM', 'of', 'India']
['who ', ' the PM of India']

In [37]:
#join
print("".join(['who', 'is', 'the', 'PM', 'of', 'India']))
print("--".join(['who', 'is', 'the', 'PM', 'of', 'India']))

whoisthePMofIndia
who--is--the--PM--of--India

In [39]:
#strip
c="      hello     "
print(c.strip())

hello