<a href="https://colab.research.google.com/github/nanidgreat/pythonlearnings/blob/main/list_tuple_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists
This is a datatype, where we can store multiple items of different data types
### Array vs Lists

*   Array are homogeneous(i.e same datatype items) where Lists are hetrogeneous(i.e different data types)
*  Arrays stores in continuos memory locations but List can store any where
*   Arrays are faster than Lists
*   Lists are more programmer friendly

In [ ]:
#create
l=[]
print(l)
l=[1,2,3,4]
print(l)
l=[1,1.2,"hello"]
print(l)
l=[1,2,3,[4,5,6]]
print(l)
l=list("hello")
print(l)
l=list()
print(l)

[]
[1, 2, 3, 4]
[1, 1.2, 'hello']
[1, 2, 3, [4, 5, 6]]
['h', 'e', 'l', 'l', 'o']
[]

In [ ]:
#Accessing items from list
l=[1,2,3,46,4]
print(l[-3],l[0],l[4],sep="-")
l=[1,2,3,[4,5]]
print(l[0],l[3][1])

3-1-4
1 5

In [ ]:
#Edit
#in Python Lists are mutable
l=[1,2,3,4]
print(l)
l[0]=5
print(l)
l[-2]=10
print(l)

[1, 2, 3, 4]
[5, 2, 3, 4]
[5, 2, 10, 4]

In [ ]:
#Add item into list
l=[1,2,3,4]
l.append(10)
print(l)
l.extend([1,2,3])
print(l)
l.insert(23,4)
print(l)
l.append([1,2]) #through append at a time we can add only one item at a item
print(l)
l.extend("goa") #we can add multiple items at the end
print(l)

[1, 2, 3, 4, 10]
[1, 2, 3, 4, 10, 1, 2, 3]
[1, 2, 3, 4, 10, 1, 2, 3, 4]
[1, 2, 3, 4, 10, 1, 2, 3, 4, [1, 2]]
[1, 2, 3, 4, 10, 1, 2, 3, 4, [1, 2], 'g', 'o', 'a']

In [ ]:
#delete
l=[1,2,3,4,5,6,'g','o','a']
del(l[0])
print(l)
del(l[-3:])
print(l)
del(l[0:4])
print(l)

[2, 3, 4, 5, 6, 'g', 'o', 'a']
[2, 3, 4, 5, 6]
[6]

In [ ]:
#remove
l=[1,2,3,4,5,6,'g','o','a',"hello",[1,2,3]]
l.remove("g")
print(l)
l.remove("hello")
print(l)
l.remove([1,2,3])
print(l)
l.remove(1,2,3)

[1, 2, 3, 4, 5, 6, 'o', 'a', 'hello', [1, 2, 3]]
[1, 2, 3, 4, 5, 6, 'o', 'a', [1, 2, 3]]
[1, 2, 3, 4, 5, 6, 'o', 'a']

ValueError: list.remove(x): x not in list

In [ ]:
#pop
l=[1,2,3,4,5,6,'g','o','a',"hello",[1,2,3]]
l.pop()
print(l)
l.pop("a")
print(l)

[1, 2, 3, 4, 5, 6, 'g', 'o', 'a', 'hello']

TypeError: 'str' object cannot be interpreted as an integer

In [1]:
#clear
l=[1,2,3,4,5,6,'g','o','a',"hello",[1,2,3]]
l.clear()
print(l)

[]

In [13]:
#operations performed on Lists
l=[1,2,3,4]
l1=[5,6,7,8]
print(l+l1,l,l1,sep="-")
print(l*3,l,sep="-")
for i in l:
  print(i)
if 2 in l:
  print("yes")
else:
  print("No")

[1, 2, 3, 4, 5, 6, 7, 8]-[1, 2, 3, 4]-[5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]-[1, 2, 3, 4]
1
2
3
4
yes

In [19]:
#functions performed on Lists
l=[5,4,3,0]
print(len(l),min(l),max(l),sep="-")
l.append(2)
print(l)
l.insert(3,10)
print(l)
sorted(l,reverse=True)
print(sorted(l,reverse=True))
print(l)
l.sort(reverse=True)
print(l)

4-0-5
[5, 4, 3, 0, 2]
[5, 4, 3, 10, 0, 2]
[10, 5, 4, 3, 2, 0]
[5, 4, 3, 10, 0, 2]
[10, 5, 4, 3, 2, 0]

In [47]:
# sample questions 1
"hi how are you".title() # incase if title is not available is python, then create some code which can convert a given string to title
l=input("Enter a string ")
cmd=[]
for i in l.split():
  cmd.append(i.capitalize())
print(" ".join(cmd))

Enter a string how are you man
How Are You Man

In [46]:
# sample questions 2
sample="guru@gmail.com" # just get the name of the person
print(sample[:sample.find("@")])

guru

In [54]:
#remove duplicate items from the list
l=[1,1,2,2,3,4,5,3]
print(set(l))
L=[]
for i in l:
  if i not in L:
    L.append(i)
print(L)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]